<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gummibear</title>

    <link rel="stylesheet" href="/templates/styles.css">
</head>
<body 
style="
 background-color: gray;
 font-size: 50px;
 color: whitesmoke; 
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-align: center;
">

<p style="text-decoration: underline">Welcome to Smart Mirror!</p>
<p><bold>Cat Fact:</bold> {{cat_fact | safe }}</p>
</body>
</html>